
<nav class="footerMain navbar navbar-expand-lg fixed-bottom col-12

         d-block d-xl-none d-flex">
      <div class="footerIcons justify-content-between
                       container"
                        >
                      <div>
                        <app-button-navbar

                        iconText=""
                        iconClass="bi bi-list"
                        iconColor="#fff"
                        iconSize="25px"
                        (buttonClicked)="btnClicked()"
                        >


                        </app-button-navbar>
                      </div>


                      <div>
                        <img src="/images/Group 1000005948.svg">
                      </div>


                      <div>
                        <app-button-navbar
                        iconClass="bi bi-person"
                        iconColor="#fff"
                        iconSize="18px"
                        (buttonClicked)="btnClicked()"
                        >

                         </app-button-navbar>
                      </div>


      </div>

</nav>


