<div class="accordion text-center"
        id="accordionFlushExample">
          <!--item 1-->
          <div class="accordion-item">

            <h2 class="accordion-header">

              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <app-check-box></app-check-box>
                Gilberto Junior
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="list-group text-start">

                 <app-accordion-items
                 [accordionTitle]="'Id'"
                 [accordionText]="'59'">
                 </app-accordion-items>

                 <app-accordion-items
                    [accordionTitle]="'Conta'"
                    [accordionText]="'16880353'">
                 </app-accordion-items>


                 <app-accordion-items
                   [accordionTitle]="'Nome'"
                   [accordionText]="'Gilberto Sonaglio Junior'">
                 </app-accordion-items>

                 <app-accordion-items
                 [accordionTitle]="'Carteira'"
                 [accordionText]="'ANR FLEX'">
                </app-accordion-items>

                <app-accordion-items
                [accordionTitle]="'Corretora'"
                [accordionText]="'XP'">
                </app-accordion-items>

                <app-accordion-items
                [accordionTitle]="'CPF/CNPJ'"
                [accordionText]="'033.397.030-08'">
              </app-accordion-items>




              <app-accordion-items
              [accordionTitle]="'PL Inicial'"
              [accordionText]="'R$62.000,00'">
            </app-accordion-items>
            <app-accordion-items
            [accordionTitle]="'Data de Registro'"
            [accordionText]="'30/10/2024'">
          </app-accordion-items>

                </div>
              </div>
            </div>
          </div>

          <!--item 2-->
          <div class="accordion-item">

            <h2 class="accordion-header">

              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapseOne">
                <app-check-box></app-check-box>
                José Carvalho Santos
              </button>
            </h2>
            <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="list-group text-start">

                 <app-accordion-items
                 [accordionTitle]="'Id'"
                 [accordionText]="'60'">
                 </app-accordion-items>

                 <app-accordion-items
                    [accordionTitle]="'Conta'"
                    [accordionText]="'17880354'">
                 </app-accordion-items>


                 <app-accordion-items
                   [accordionTitle]="'Nome'"
                   [accordionText]="'José Carvalho Santos'">
                 </app-accordion-items>

                 <app-accordion-items
                 [accordionTitle]="'Carteira'"
                 [accordionText]="'ANR FLEX'">
                </app-accordion-items>

                <app-accordion-items
                [accordionTitle]="'Corretora'"
                [accordionText]="'BTG'">
                </app-accordion-items>

                <app-accordion-items
                [accordionTitle]="'CPF/CNPJ'"
                [accordionText]="'022.397.030-09'">
              </app-accordion-items>




              <app-accordion-items
              [accordionTitle]="'PL Inicial'"
              [accordionText]="'R$72.000,00'">
            </app-accordion-items>
            <app-accordion-items
            [accordionTitle]="'Data de Registro'"
            [accordionText]="'30/11/2024'">
          </app-accordion-items>

                </div>
              </div>
            </div>
          </div>

          <!--item 3-->
          <div class="accordion-item">

            <h2 class="accordion-header">

              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapseOne">
                <app-check-box></app-check-box>
                Claúdio Siqueira
              </button>
            </h2>
            <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="list-group text-start">

                 <app-accordion-items
                 [accordionTitle]="'Id'"
                 [accordionText]="'61'">
                 </app-accordion-items>

                 <app-accordion-items
                    [accordionTitle]="'Conta'"
                    [accordionText]="'17440355'">
                 </app-accordion-items>


                 <app-accordion-items
                   [accordionTitle]="'Nome'"
                   [accordionText]="'Claúdio Siqueira'">
                 </app-accordion-items>

                 <app-accordion-items
                 [accordionTitle]="'Carteira'"
                 [accordionText]="'ANR FLEX'">
                </app-accordion-items>

                <app-accordion-items
                [accordionTitle]="'Corretora'"
                [accordionText]="'AVG'">
                </app-accordion-items>

                <app-accordion-items
                [accordionTitle]="'CPF/CNPJ'"
                [accordionText]="'077.397.030-19'">
              </app-accordion-items>




              <app-accordion-items
              [accordionTitle]="'PL Inicial'"
              [accordionText]="'R$30.000,00'">
            </app-accordion-items>
            <app-accordion-items
            [accordionTitle]="'Data de Registro'"
            [accordionText]="'20/10/2024'">
          </app-accordion-items>

                </div>
              </div>
            </div>
          </div>

          <!--item 4-->
          <div class="accordion-item">

            <h2 class="accordion-header">

              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapseOne">
                <app-check-box></app-check-box>
                Maurício Andrade Salles
              </button>
            </h2>
            <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="list-group text-start">

                 <app-accordion-items
                 [accordionTitle]="'Id'"
                 [accordionText]="'62'">
                 </app-accordion-items>

                 <app-accordion-items
                    [accordionTitle]="'Conta'"
                    [accordionText]="'17440355'">
                 </app-accordion-items>


                 <app-accordion-items
                   [accordionTitle]="'Nome'"
                   [accordionText]="'Maurício Andrade Salles'">
                 </app-accordion-items>

                 <app-accordion-items
                 [accordionTitle]="'Carteira'"
                 [accordionText]="'ANR FLEX'">
                </app-accordion-items>

                <app-accordion-items
                [accordionTitle]="'Corretora'"
                [accordionText]="'AVG'">
                </app-accordion-items>

                <app-accordion-items
                [accordionTitle]="'CPF/CNPJ'"
                [accordionText]="'077.397.030-19'">
              </app-accordion-items>




              <app-accordion-items
              [accordionTitle]="'PL Inicial'"
              [accordionText]="'R$30.000,00'">
            </app-accordion-items>
            <app-accordion-items
            [accordionTitle]="'Data de Registro'"
            [accordionText]="'20/10/2024'">
          </app-accordion-items>

                </div>
              </div>
            </div>
          </div>
        </div>
