<div *ngIf="loginMessage" class="alert" [ngClass]="isLoading ? 'alert-info' : 'alert-danger'" role="alert">
  {{ loginMessage }}
</div>

<form class="needs-validation" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-2">
    <input class="form-control" placeholder="nome@anovaresearch.com.br" required formControlName="email" type="email"
      [class.is-invalid]="loginForm.get('email')?.errors && loginForm.get('email')?.touched" />
    <div class="has-validation" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
      <small *ngIf="loginForm.get('email')?.errors?.['required']">O campo email é obrigatório.</small>
      <small *ngIf="loginForm.get('email')?.errors?.['email']">Por favor, insira um email válido.</small>
    </div>
  </div>
  <div class="form-group mb-3">
    <input class="form-control" placeholder="senha" required formControlName="password" type="password" maxlength="6" minlength="2"
      [class.is-invalid]="loginForm.get('password')?.errors && loginForm.get('password')?.touched" />
    <div class="has-validation" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
      <small *ngIf="loginForm.get('password')?.errors?.['required']">O campo senha é obrigatório.</small>
      <small *ngIf="loginForm.get('password')?.errors?.['minLength']">A senha deve conter no mínimo 6 caracteres.</small>
    </div>
  </div>
  <div class="mb-3 text-start">
    <a class="link" href="/register" target="_blank">Esqueceu sua senha?</a>
  </div>
  <div class="col-12 text-start">
    <app-button [buttonText]="'Login'"></app-button>
  </div>
</form>
