/*css modal*/

.modal-dialog-custom{
  max-width: 495px;
  height: auto;
}

.modal-title{
  margin-left:150px;
}

.btn-close{
  font-size: 11px;
}

.modal-body-custom{
  padding: 35px 40px 35px 40px;
}

span{
  position: relative;
}
i{
  font-size: 10px;
}

.form-label{
  font-size: 14px;
}
