/*Css mobile*/
.home{
  background-color: #f1f1f1;
}

.titleIndex{
  padding: 18px 0 8px 0;
  color: #212121;
  font-weight: bold;
  font-size: 16px;
}

.mobileContent{
  height: auto;
  margin-bottom: 90px;
}
/*fim css mobile*/


/*css desktop*/
/*medias*/
@media (min-width: 1200px) {
  .home{
    padding: 5px 0px 0px 0px;
    margin-top: 85px;

  }

  .menuLateralPosition{
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    z-index: 1000;
  }

  .homeContent{
    background-color:#f1f1f1;

    padding: 0;
    margin: 0 2px 0 2px;
  }

  .titleIndex{
    margin: 0 0 0 12px;
  }

  .homeHeader{
   height: auto;
   margin-left: 10px;
  }

  .homeHeader p{
    font-size: 25px;
  }

  .homeContent{
    height: auto;
    margin: 0 0 150px 0;
  }
}
