<div class="cardIndexSearch row align-items-center"
>

    <div class="col-8 selectWallet">
      <app-input-select-index-card-search
      [selectedText]="'Selecione a Carteira'">

      </app-input-select-index-card-search>
    </div>

    <div class="col-2 justify-content-center export">
      <app-button-index-card-search
      [iconClass]="'bi bi-box-arrow-in-right'"
      [iconColor]="'#212121'"
      [iconSize]="'28px'">

      </app-button-index-card-search>
    </div>
    <div class="col-2 funnel">
      <app-button-index-card-search
      [iconClass]="'bi bi-funnel'"
      [iconColor]="'#212121'"
      [iconSize]="'28px'">

      </app-button-index-card-search>
    </div>

</div>
