.tableContent{
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 7px;
}

tr{
  font-size: 13px;

}

thead{
  height: 45px;
}

.row-height{
  height: 44px;
}

.col-name{
  width: 250px;
}

