<nav class="navbar navbar-expand-lg fixed-top d-none d-xl-block col-12">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/images/Group 1000005948.svg">
    </a>
    <div class="d-flex icons-navbar">
      <app-button-navbar

      iconText=""
      iconClass="bi bi-bell"
      iconColor="#fff"
      iconSize="20px"
      (buttonClicked)="btnClicked()"
      >


      </app-button-navbar>
      <app-button-navbar

      iconText=""
      iconClass="bi bi-person"
      iconColor="#fff"
      iconSize="20px"
      (buttonClicked)="btnClicked()"
      >


      </app-button-navbar>
    </div>

  </div>

 </nav>
