<!-- <nav class="navbar footer fixed-bottom">
  <div class="container-fluid justify-content-center">
    <div class="d-flex iconsFooter">
      <app-button-index
      iconText=""
      iconClass="bi bi-house-door"
      iconColor="#fff"
      iconSize="29px"
      class="me-3">

      </app-button-index>
      <app-button-index
            iconText=""
            iconClass="bi bi-graph-up-arrow"
            iconColor="#fff"
            iconSize="29px"
            class="me-3">

      </app-button-index>
      <app-button-index
            iconText=""
            iconClass="bi bi-table"
            iconColor="#fff"
            iconSize="29px"
            class="me-3">

      </app-button-index>
      <app-button-index
            iconText=""
            iconClass="bi bi-plus-circle"
            iconColor="#fff"
            iconSize="29px"
            class="me-3">

      </app-button-index>
      <app-button-index
            iconText=""
            iconClass="bi bi-bell"
            iconColor="#fff"
            iconSize="29px"
            class="me-3">

      </app-button-index>
      <app-button-index
            iconText=""
            iconClass="bi bi-person"
            iconColor="#fff"
            iconSize="29px"
            >

      </app-button-index>
    </div>

  </div>
</nav> -->

