<div class="container-fluid">
  <div class="row align-items-center justify-content-center
  vh-100">
    <!--Formulário-->

     <div class="col-12 col-md-6 text-center">
      <div class="formLogin">
        <div class="title">
          <img src="/images/Group 1.svg" class="img-fluid mb-4" alt="logo ANOVA">
          <p class="text-start mb-1 fs-5">Plataforma de Operações</p>
          <p class="text-start mb-4">Anova Research</p>
        </div>

        

        <app-form-login></app-form-login>
      </div>

    </div>


    <!--banner-->
    <div class="col-xl-6 d-none d-xl-block text-end">
        <img class="img img-fluid" src="/images/Frame 1.svg"
        alt="banner ANOVA">
    </div>

  </div>

</div>
