.tableContent{
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 12px;
  margin: 0 8px 25px 8px;
  padding: 5px;
}

tr{
  font-size: 12px;

}

.inputSearchTable{
  height: 28px;
  text-align: start;
  font-size: 12px;
}

 .table .truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
