/* .menuLateral{
  background-color: #fff;
  height: 100%;

}

.listMenu{
  margin: 80px 0px 0 0;
  width:4rem;
}

.listMenu li{
  list-style: none;

} */

/* .listMenu i{
  color: black;
} */

.navbar {
  height:100vh;
  position: fixed;
  left: 0;
  width: 4.8rem;
  background-color: #f1f1f1;
}

.navbar-toggler{
  margin-top: calc(50px+10px);
  border: none;
}

.navbar-toggler-icon:focus{
  outline: none;
}

.offcanvas-header{
  margin-top: 5rem;
}

.custom-toggler {
  margin-top: 90px; /* Define a distância de 90 pixels do topo */
  margin-bottom: 130px; /* Define a margem inferior de 130 pixels */
  border: none; /* Remove a borda */
}

.custom-toggler:focus {
  outline: none; /* Remove o outline ao focar no botão */
}
