<div class="container-fluid home">
  <div class="row justify-content-center align-items-center vh-100">

    <!-- MOBILE -->
    <div class="d-block d-xl-none col-md-8">
      <div class="">
        <div class="contentTitleIndex">
          <p class="titleIndex text-center">Dashboard</p>
        </div>
        <div class="mobileContent">
          <!-- Componentes mobile -->

          <app-card-index></app-card-index>
          <app-table-index></app-table-index>

          <div class="cardIndexSearch row align-items-center">
            <div class="col-8 selectWallet">
              <app-input-select-index-card-search
            inputSelectId="carteiraSelect"
            [selectedText]="'Selecione a Carteira'"
            (selectionChange)="onCarteiraChange($event)">
            </app-input-select-index-card-search>


            </div>

            <div class="col-2 justify-content-center export">
              <app-button-index-card-search
              [iconClass]="'bi bi-box-arrow-in-right'"
              [iconColor]="'#212121'"
              [iconSize]="'28px'">

              </app-button-index-card-search>
            </div>
            <div class="col-2 funnel">
              <app-button-index-card-search
              [iconClass]="'bi bi-funnel'"
              [iconColor]="'#212121'"
              [iconSize]="'28px'"
              (dateSelected)="onDateRangeSelected($event)">

              </app-button-index-card-search>
            </div>
          </div>

           <!-- Gráfico -->
            <div class="graficIndex-container">
              <div *ngIf="isBrowser" echarts [options]="chartOption">

              </div>
            </div>

          <app-card-index-home></app-card-index-home>
        </div>
      </div>
    </div>

    <!-- FIM MOBILE -->

    <!-- DESKTOP -->
    <div class="d-none d-xl-block d-lg-flex menuLateralPosition">
      <app-menu-lateral-main></app-menu-lateral-main>
    </div>

    <div  class="d-none d-xl-block homeContent">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 offset-md-10 homeHeader">
          <app-card-index-home></app-card-index-home>
          <p class="titleIndex text-start">Dashboard</p>
        </div>
      </div>
      <div class="row">
        <!-- Coluna vazia ou com conteúdo adicional -->
        <div class="col-xl-1"></div>

        <!-- Coluna principal com os app-navbar e app-card-index -->
        <div class="col-12 col-xl-7">
          <!-- Primeira linha: Navbar e Cards -->
          <div class="d-lg-flex">
            <app-navbar></app-navbar>
            <app-card-index></app-card-index>
          </div>

          <!-- Segunda linha: Gráfico -->
          <div class="mt-2">


            <div class="graficIndex-container">
              <!-- Linha com os botões e título -->
              <div class="graficIndex-title d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex gap-2">
                  <!-- Botão: Filtrar por data -->

                  <app-button-index-card-search
                  buttonText="Filtrar por data"
                  [iconClass]="'bi bi-funnel'"
                  [iconColor]="'#212121'"
                  [iconSize]="'15px'"
                  (dateSelected)="onDateRangeSelected($event)">

                  </app-button-index-card-search>

                  <!-- Botão: Exportar -->

                  <app-button-grafic-index
                    buttonText="Exportar"
                    iconClass="bi bi-box-arrow-up-right"
                    apiUrl=""
                    (buttonClick)="onExport($event)">
                  </app-button-grafic-index>
                </div>

                <!-- Título centralizado -->
                <h6 class="text-center mb-0 flex-grow-1">Rentabilidade</h6>

                <!-- Select da Carteira -->
                <i class="bi bi-list-nested"></i>
                <app-input-select-index-card-search

              inputSelectId="carteiraSelect"
                [selectedText]="'Selecione a Carteira'"
              (selectionChange)="onCarteiraChange($event)">

            </app-input-select-index-card-search>



              </div>
              <!-- Gráfico -->
              <div *ngIf="isBrowser" echarts [options]="chartOption" style="z-index:1;">

              </div>

            </div>



          </div>


        </div>

        <!-- Coluna para o app-table-index -->
        <div class="col-xl-4 d-flex align-items-start">
          <app-table-index></app-table-index>
        </div>
      </div>



    </div>




  </div>
</div>
