
<nav class="navbar m-2">

    <div>

        <form class="row formNavbar">
          <div class="col-8">
            <label class="form-label label01 text-white">
              Patrimônio sob gestão
            </label>
            <app-input-monetary-index

               [type]="'text'"
               placeholderText=""
               id="pl"
               [inputStyle]="'input01'">

            </app-input-monetary-index>
          </div>
          <div class="col-8">
            <label class="form-label label02 text-white">Mês anterior</label>
            <app-input-monetary-index
              [type]="'text'"
              placeholderText=""
              id="pl"
              [inputStyle]="'input02'">

            </app-input-monetary-index>
          </div>
        </form>

    </div>

</nav>
