<div class="modal-header text-center w-100 d-flex justify-content-between">
  <h6 class="modal-title mx-auto">Selecione o Período</h6>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <i class="bi bi-x"></i>
  </button>
</div>

<div class="modal-body">
  <label>Data Inicial:</label>
  <input type="date" [(ngModel)]="dataInicial" class="form-control">

  <label class="mt-2">Data Final:</label>
  <input type="date" [(ngModel)]="dataFinal" class="form-control">
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="confirmar()">Confirmar</button>
</div>

